* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*******************/
/**Body
/*******************/


body, html {
    font-family: 'Quicksand', sans-serif;
    color: #FEFFFF;
    max-width: 100%;
}

/*******************/
/**Header
/*******************/

#header {
    background-image: url(https://images.unsplash.com/photo-1509170051686-83f8efd35a31?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80);
    background-size: auto;
    background-position: center;
    background-repeat: no-repeat;
    height: 777px;
}

.heading,
.heading p {
    float: left;
    font-size: 30px;
}

.heading p {
    margin: 20px 0 0 0;
}

.nav-bar {
    float: right;
    list-style-type: none;
    margin: 30px 40px 0 0;
}

.nav-bar li {
    display: inline;
    padding: 40px;
}

.guitar {
    float: left;
    height: 40px;
    width: 40px;
    margin: 20px 0 0 40px;
}